<div class="container">
  <div class="card">
    <div class="container">
      <h1>Firm Dashboard</h1>
        <ul>
          <li><%= link_to 'Display All Users', users_path %></li>
          <li><%= link_to 'Create Matter', new_matter_path %></li>
          <li><%= link_to 'Display All Matters', all_matters_path %></li>
          <li><%= link_to 'Display All Documents', document_index_path %></li>
        </ul>

        <h1>Dashboard</h1>

        <h5>LINKS</h5>
          <ul>
            <li><%= link_to "Create User", new_user_path%></li>
            <li><%= link_to "Create Matter", new_matter_path%></li>
          </ul>

        <h4>All Users</h4>
          <table class="table">
            <thead>
              <tr>
                <th>User ID </th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name </th>
                <th>Middle Name </th>
                <th>Last Name </th>

              </tr>
            </thead>
            <tbody>
              <% @users.each do |user|%>
                <tr>
                <td> <%=user.id%></td>
                <td>  <%=user.username%> </td>
                <td> <%=user.email%> </td>
                <td> <%=user.first_name%> </td>
                <td> <%=user.middle_name%> </td>
                <td> <%=user.last_name%> </td>

                </tr>
              <%end%>
              </tr>
            </tbody>
          </table>
        <h3>All User-Matters</h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">User</th>
                  <th>Matter</th>
                </tr>
              </thead>
              <tbody>
                <% @user_matters.each do |user_matter|%>
                  <tr>
                  <td>  <%=user_matter.matter_id%> </td>
                  <td> <%=user_matter.user_id%> </td>
                  </tr>
                <%end%>
                </tr>
              </tbody>
            </table>
        <h3>All Matters</h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Matter ID</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Kind</th>
                  <th>Opposing Party</th>
                  <th>Opposing Counsel</th>
                  <th>Court</th>
                  <th>Judge</th>
                </tr>
              </thead>
              <tbody>
                <% @matters.each do |matter|%>
                  <tr>
                  <td><%=matter.id%> </td>
                  <td><%=matter.cause_number%> </td>
                  <td><%=matter.status%> </td>
                  <td><%=matter.kind%></td>
                  <td><%=matter.opposing_party%></td>
                  <td><%=matter.opposing_counsel%></td>
                  <td><%=matter.court%></td>
                  <td><%=matter.judge%></td>
                  </tr>
                <%end%>
                </tr>
              </tbody>
            </table>

        <h3>All Documents </h3>
        <table class="table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Document ID</th>
              <th>Status</th>
              <th>Date</th>
              <th>Title</th>
              <th>Link</th>

            </tr>
          </thead>
          <tbody>
            <% @documents.each do |document|%>
              <tr>
                <td><%=document.id%> </td>
                <td><%=document.status%> </td>
                <td><%=document.date%></td>
                <td><%=document.title%></td>
                <td><%= link_to "See Detail", document_path(id: document.id) %></td>
              </tr>
            <%end%>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>
