
  <div class="card">
    <h3><%=@current_user.full_name%> <small><%=@current_user.role%></small></h3><hr>
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
            <h2>Matters</h2>
            <hr>
            <h4><%= link_to 'Display All Matters', matters_path %></h4>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
            <h2>Documents</h2>
            <hr>
            <h4><%= link_to "All Documents", documents_path%></h4>
            <h4><%= link_to "Add Document", new_document_path%></h4>
          </div>
      </div>
    </div>
<div class="spacer"></div>

      <div class="row">
        <div class="col-xs-6">
          <div class="card">
              <h2>Events</h2><hr>
              <h4><%= link_to "All Events", events_path%></h4>
              <h4><%= link_to "Add Event", new_event_path%></h4>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="card">
              <h2>People</h2>
              <hr>
              <h4><%= link_to "All People", people_path%></h4>
              <h4><%= link_to "Add Person", new_person_path%></h4>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </div>

      </div>

    </div>

  </div>
