<div class="card">
<h1>Firm Dashboard</h1>
  <ul>
    <li><%= link_to 'Display All Users', users_path %></li>
    <li><%= link_to 'Create Matter', new_matter_path %></li>
    <li><%= link_to 'Display All Matters', all_matters_path %></li>
    <li><%= link_to 'Display All Documents', documents_path %></li>
    <li><%= link_to "Create User", new_user_path%></li>
    <li><%= link_to "View User Matter", admin_user_matters_path%></li>
    <li><%= link_to "Create User Matter", new_admin_user_matter_path%></li>
  </ul>
