<div class="container">

  <div class="row">
    <div class="col-xs-6">
    <div class="card">
        <div class="well">
          <h2>Users</h2>
          <hr>
          <h4><%= link_to 'Display All Users', admin_users_path %></h4>
          <h4><%= link_to "Create User", new_admin_user_path%></h4>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card">
        <div class="well">
          <h2>Matters</h2>
          <hr>
          <h4><%= link_to 'Display All Matters', admin_matters_path %></h4>
          <h4><%= link_to 'Create Matter', new_admin_matter_path %></h4>
        </div>
      </div>
    </div>
  </div>
<div class="spacer"></div>
  <div class="row">
    <div class="col-xs-6">
      <div class="card">
        <div class="well">
          <h2>User- Matters</h2>
           <hr>
          <h4><%= link_to "View User Matter", admin_user_matters_path%></h4>
          <h4><%= link_to "Create User Matter", new_admin_user_matter_path%></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="well">
          <h2>Documents</h2>
          <hr>
          <h4><%= link_to "All Documents", documents_path%></h4>
          <h4><%= link_to "All Events", events_path%></h4>
        </div>
        </div>
    </div>
  </div>



  </div>
