<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="alert alert-danger"><strong><%= error %></strong></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :role %>
  <%= f.collection_select :role, User::ROLE, :to_s, :to_s, :include_blank => true%>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
</div>
</div>

 <div class="row">
   <div class="col-md-6">
     <div class="form-group">
       <%= f.label :password %>
       <%= f.password_field :password, size: "60x12", class: "form-control" %>
     </div>
   </div>
 <div class="col-md-6">
   <div class="form-group">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation, size: "60x12", class: "form-control" %>
   </div>
 </div>
 </div>


  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    or
    <%= link_to "Sign In", sign_in_path %>
  </div>
<% end %>
