<% if @event.errors.any? %>
<div class="alert alert-danger" role="alert">
    <% @event.errors.full_messages.each do |msg| %>
    <%= msg %><br>
    <% end %>
</div>
<% end %>

<div class="well">

    <%= simple_form_for @event do |f| %>
    <%= f.association :matter, label_method: :casename %>
    <%= f.input :headline, label: "Event", class: "form-control" %>
    <%= f.input :text %>
    <%= f.input :caption %>
    <%= f.input :year %>
    <%= f.input :month%>
    <%= f.input :day%>
    <%= f.input :hour%>
    <%= f.input :url, label: "Media", class: "form-control"%>
    <!-- <div class="form-group">
        <%= f.label :thumbnail %>
        <%= f.text_field :thumbnail, class: "form-control" %>
      </div> -->
    <!-- <div class="form-group">
        <%= f.label :credit %>
        <%= f.text_field :credit, class: "form-control" %>
      </div> -->
    <div class="form-group">
        <%= f.submit class: "btn btn-lg btn-primary"%>
    </div>
    <% end %>
</div>
