    <% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% @event.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>

    <div class="well">

    <%= simple_form_for @event do |f| %>
      <div class="form-group">
        <%= f.label :Event_name %>
        <%= f.text_field :headline, class: "form-control" %>
      </div>
      <%= f.input :text %>
      <%= f.input :caption %>
      <%= f.label :year %>

      <div class="form-group">
        <%= f.label :month %>
        <%= f.collection_select :month, Event::MONTH, :to_s, :to_s, :include_blank => true%>
      </div>
      <div class="form-group">
        <%= f.label :day %>
        <%= f.collection_select :month, Event::DAY, :to_s, :to_s, :include_blank => true%>
      </div>
      <div class="form-group">
        <%= f.label :hour %>
        <%= f.collection_select :month, Event::HOUR, :to_s, :to_s, :include_blank => true%>
      </div>
      <div class="form-group">
        <%= f.label :minute %>
        <%= f.collection_select :month, Event::MINUTE, :to_s, :to_s, :include_blank => true%>
      </div>
      <div class="form-group">
        <%= f.label :caption %>
        <%= f.text_field :caption, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Media_url %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
      <!-- <div class="form-group">
        <%= f.label :thumbnail %>
        <%= f.text_field :thumbnail, class: "form-control" %>
      </div> -->
      <!-- <div class="form-group">
        <%= f.label :credit %>
        <%= f.text_field :credit, class: "form-control" %>
      </div> -->
      <div class="form-group">
        <%= f.submit class: "btn btn-lg btn-primary"%>
      </div>
    <% end %>
  </div>
