<div class="card">
  <div class="container">
      <h1>Documents</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Document ID</th>
            <th>Category</th>
            <th>Issues</th>
            <th>Status</th>
            <th>Date</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
            <tr>
              <td><%= document.id %></td>
              <td><%= document.category %></td>
              <td><%= document.issues %></td>
              <td><%= document.status %></td>
              <td><%= document.date %></td>
              <td><%= link_to "See Detail", document_path(id: document.id) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
