<div class="outer-wrapper">
    <div class="container">
        <div class="card">
            <div class="container">

                <h1>
                    <%= @document.description%></h1>

                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <iframe src="<%= attachment_url(@document, :document, format: 'pdf') %>" width="600" height="800"></iframe>
                    </div>
                    <div class="col-xs-6 col-md-4">

                        <h4>Document ID:  <%=@document.id%>  </h4>
                        <h6>Title:<%=@document.title%></h6>
                        <h6>Category:<%=@document.category%></h6>
                        <h6>Issues:<%=@document.issues%></h6>
                        <h6>Status:<%=@document.status%></h6>
                        <h6>Date:<%=@document.sort_date%></h6>

                        <%= link_to 'Upload Document', edit_document_path(id: @document.id)%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
