<div class="container">
  <div class="card">
    <div class="container">

      <h1>  <%= @document.description%></h1>

      <div class="row">
      <div class="col-xs-12 col-md-8">
          <iframe src="<%= attachment_url(@document, :document, format: 'pdf') %>" width="600" height="800"></iframe>
        </div>
      <div class="col-xs-6 col-md-4">

      <h4>Document ID: <%=@document.id%> </h4>
      <h6>Title:<%=@document.title%></h6>
      <h6>Category:<%=@document.category%></h6>
      <h6>Issues:<%=@document.issues%></h6>
      <h6>Status:<%=@document.status%></h6>
      <h6>Date:<%=@document.date%></h6>

      <h3>Client Comments</h3>
      <%= link_to 'Add Comment', edit_document_path(id: @document.id)%>


      <h4> Attorney Comments</h4>


      <h4>Law Office Comments</h4>



      </div>
    </div>




    </div>
  </div>
</div>
