<% if @photo.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @photo.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<div class="well">
  <%= simple_form_for @photo do |f| %>
  <%= f.association :matter, label_method: :casename %>
    <div class="form-group">
      <%= f.label :photo %>
      <%= f.attachment_field :photo, as: :file, class: "form-control" %>
    </div>
  <%= f.input :caption%>
  <%= f.input :sort_date%>
  <%= f.submit %>
  <% end %>
</div>
