<!DOCTYPE html>
<html>
  <head>
    <title>Swift Disco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <nav><h1>Swift Disco</h1></nav>
      <header>

      <div class="nav-2">
        <% if @current_user %>
          Hi
          <%= @current_user.username.upcase %>!<br>
          <%= link_to 'Sign Out', sign_in_path, method: :delete %><br>
          <%= link_to 'Home', root_path %>
        <% else %>
          <% end %>
      </div>

      </header>
    </div>
    <div class="container">


     <% if notice %>
       <div class="alert alert-info" role="alert">
         <%= notice %>
       </div>
     <% end %>

     <% if alert %>
       <div class="alert alert-danger" role="alert">
         <%= alert %>
       </div>
     <% end %>
    <%= yield %>
  </body>
</html>
