<!DOCTYPE html>
<html>
  <head>
    <title>Swift Disco</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Swift Discovery</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <%if @current_user%>
            <li><%= link_to "Add Event", new_event_path%></li>
            <li><%= link_to "Add Document", root_path%></li>
            <li><%= link_to "Sign Out", sign_out_path%></li>
            <%else%>
            <li><%=link_to 'Sign In', sign_in_path%></li>
            <li><%=link_to 'Create Account', new_user_path%></li>
            <%end%>
        </ul>
      </div>
    </nav>


    <div class="container">
     <% if notice %>
       <div class="alert alert-info" role="alert">
         <%= notice %>
       </div>
     <% end %>

     <% if alert %>
       <div class="alert alert-danger" role="alert">
         <%= alert %>
       </div>
     <% end %>
    <%= yield %>
  </div>
    <footer class="page-footer">
      <div class="footer-copyright">


      S. D O S S E T T  S W I F T
        © 2016 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">SWIFT DISCOVERY: TELL YOUR STORY</a>

      </div>
    </footer>

  </body>

</html>
